html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    border-radius: 50%;
    height: auto;
}

/* Font selectors */
body,
input,
textarea,
button {
    font-family: "Raleway", sans-serif;
}
body {
    background-color: #eeeeee;
    color: #363c60;
    overflow-x: hidden;
}

/* Header */

header {
    height: 100vh;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: 202342;
    font-size: 1.1rem;
    background-image: url(images/whiteGrass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(109, 106, 106, 0.185);
    padding: 30px;
    border-radius: 15px;
}

h1 {
    padding-bottom: 15px;
    text-align: center;
}

h2 {
    padding: 5px;
    text-align: center;
}

.button {
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #202342;
    color: #202342;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
}

.button:hover #scrollButtonIcon {
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff;
}

.button:hover {
    background-color: #20b0a7;
    border-color: #20b0a7;
    color: #fff;
    transition: 0.4s;
    font-weight: initial;
}

.button:focus {
    outline: none;
    padding: none;
}

#scrollButtonIcon {
    margin-left: 10px;
    transition: 0.4s;
}

/* Nav */

#navbar {
    width: 100%;
    height: 50px;
    background-color: #202342;
    color: #fff;
    border-bottom: 3px solid #20b0a7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

nav ul li {
    display: inline;
    padding: 0px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #20b0a7;
    transition: 0.3s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #about {
    padding-top: 100px;
}

.webSite {
    color: #fff;
}

@media only screen and (max-width: 505px) {
    #navbar {
        width: 100%;
        height: 50px;
        background-color: #202342;
        color: #fff;
        border-bottom: 3px solid #20b0a7;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    nav ul li {
        padding: 0px 0px;
    }

    #nav ul {
        width: 95vw;
        display: flex;
        justify-content: space-between;
    }
}

/* About */

#about {
    padding-top: 50px;
    margin-top: -50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#aboutAnchor {
    position: absolute;
    margin-top: -50px;
}

.sectionTitle {
    margin-top: 5rem;
    font-size: 2.5rem;
    display: inline-block;
    position: relative;
}

.sectionTitle::after {
    position: absolute;
    height: 2px;
    margin: 0 auto;
    content: "";
    left: 0;
    right: 0;
    width: 70%;
    color: #000;
    background-color: #20b0a7;
    left: 0;
    bottom: -3px;
}

#profilePic {
    margin-left: -200px;
    opacity: 0;
    transition: 0.4s;
}

.imageAndDesc {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutDesc {
    margin-right: -400px;
    opacity: 0;
    transition: 0.6s;
}

.imageAndDesc p {
    width: 40%;
    line-height: 1.7rem;
    text-align: left;
    font-size: 1rem;
    background-color: #363c60;
    border-radius: 5px;
    padding: 40px;
    color: #eeeeee;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.courseAndSkills {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #363c60;
    margin-top: 100px;
    padding: 10px 0px;
    box-shadow: inset 0px 11px 14px -5px #20243a, inset 0px -11px 14px -5px #20243a;
}

.courseDetails {
    padding: 20px;
    text-align: left;
    width: 500px;
    border-radius: 15px;
    color: white;
    justify-self: center;
    margin-top: -50px;
    line-height: 1.3rem;
}

.courseDetails ul li {
    list-style-type: disc;
}

.courseDetails ul {
    padding: 15px;
    margin-left: 2px;
}

@media only screen and (max-width: 1078px) {
    .courseDetails {
        padding: 10px;
        margin-top: -30px;
    }
}

@media only screen and (max-width: 928px) {
    .imageAndDesc {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .imageAndDesc p {
        width: 90%;
        margin-left: 0;
        margin-top: 50px;
    }

    .profileImage img {
        height: 320px;
        /* width: 320px; */
    }
    .courseAndSkills {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #363c60;
        margin-top: 40px;
        padding: 20px 20px;
    }
    .courseDetails {
        width: 100%;
        justify-self: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .skillsContainer {
        max-width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px 5px;
    }
}

/* Skills section */

.skillsContainer {
    width: 800px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
}

.skillsContainer p {
    margin-top: 35px;
    margin-bottom: 15px;
}

.skillsContainer p:nth-of-type(1) {
    margin-top: 0px;
}

.skillCell {
    width: 100%;
    background-color: #555555;
}

.skills {
    text-align: right;
    height: 2px;
    color: white;
}

.topSkill {
    padding-top: 10px;
}

.bottomSkill {
    padding-bottom: 10px;
}

/* each skill bar */

#html {
    width: 0%;
    background-color: #08fdd8;
    transition: 1s;
}
#css {
    width: 0%;
    background-color: #ff2253;
    transition: 1s;
    transition-delay: 0.1s;
}
#C {
    width: 0%;
    background-color: #d26cd5;
    transition: 1s;
    transition-delay: 0.2s;
}
#javascript {
    width: 0%;
    background-color: #66b871;
    transition: 1s;
    transition-delay: 0.3s;
}
#react {
    width: 0%;
    background-color: #f3f161;
    transition: 1s;
    transition-delay: 0.4s;
}
#axios {
    width: 0%;
    background-color: rgb(189, 119, 255);
    transition: 1s;
    transition-delay: 0.5s;
}
#git {
    width: 0%;
    background-color: #08e26a;
    transition: 1s;
    transition-delay: 0.6s;
}


/* Projects */

#projects {
    width: 100%;
    text-align: center;
}

#projectAnchor {
    position: absolute;
    margin-top: -50px;
}

.projectsContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: fit-content;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    grid-gap: 100px;
    opacity: 0;
    grid-auto-flow: row;
    transition: ease-in-out 0.7s;
    padding-bottom: 80px;
}

.project {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media only screen and (max-width: 915px) {
    .projectsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: stretch;
        align-items: stretch;
    }
}

@media only screen and (max-width: 623px) {
    .projectsContainer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: fit-content;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: stretch;
        align-items: stretch;
        grid-gap: 2px;
        grid-auto-flow: row;
    }

    .project {
        width: 300px;
        height: 300px;
    }
}

.projectOverlay {
    background-color: hsl(231, 28%, 29%, 0.85);
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
    overflow: hidden;
}

.projectName {
    display: block;
    color: #fff;
    padding-top: 5%;
    margin-top: 0px;
    font-size: 1.7rem;
    transition: 0.4s;
}

.techUsed {
    display: block;
    color: #20b0a7;
    font-size: 1.1rem;
    margin-top: 4%;
}

.viewSite {
    display: block;
    margin-top: 18%;
}

.viewSite a {
    text-decoration: none;
    color: #fff;
}

.viewCode {
    display: block;
    margin-top: 15%;
}

.viewCode a {
    text-decoration: none;
    color: #fff;
}

.projectButton {
    padding: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 1.05rem;
}

.projectButton:hover {
    background-color: #20b0a7;
    border-color: #20b0a7;
    transition: 0.4s;
}

.button:focus {
    outline: none;
    padding: none;
}

.project:hover .projectOverlay {
    visibility: visible;
    opacity: 1;
}

.project:nth-of-type(1) {
    background-image: url(images/myclasses.png);
}
.project:nth-of-type(2) {
    background-image: url(images/pokemonicon.jpeg);
}
.project:nth-of-type(3) {
    background-image: url(images/sticks.jpg);
}
.project:nth-of-type(4) {
    background-image: url(images/cbc.png);
}
.project:nth-of-type(5) {
    background-image: url(images/Colossal-Cave-Map.jpeg);
}
.project:nth-of-type(6) {
    background-image: url(images/OCME.jpg);
}

#projects svg {
    margin-bottom: -6px;
}

/* Contact */

#contact {
    text-align: center;
    background-color: #363c60;
    color: #eeeeee;
}

#contact h2 {
    margin-top: 40px;
}

#contactAnchor {
    position: absolute;
    margin-top: -50px;
}

#Capa_1 {
    fill: white;
    width: 50px;
    height: auto;
}

#githubIcon {
    fill: white;
    width: 50px;
    height: auto;
}

#linkedinIcon {
    fill: white;
    width: 50px;
    height: auto;
}

.linkBox a {
    text-decoration: none;
    color: #eeeeee;
}

.linksContainer {
    margin-top: 160px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 220px;
}

.linkBox {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.icon:hover path {
    fill: #20b0a7;
    transition: 0.3s;
}

.icon:hover + p {
    color: #20b0a7;
    transition: 0.3s;
}

.linkBox a:hover + a {
    color: #20b0a7;
    transition: 0.3s;
}

@media only screen and (max-width: 887px) {
    .linksContainer {
        margin-top: 90px;
        flex-direction: column;
        padding-bottom: 120px;
        align-items: center;
    }
    .linkBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        height: 120px;
        margin-bottom: 30px;
    }
}

/* Footer */

#footer {
    background-color: #202342;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerNav ul {
    height: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20%;
    width: max-content;
}

#footer nav ul li {
    display: block;
    padding: 0px 30px;
}

#footer nav ul li a {
    text-decoration: none;
    color: #fff;
}

#footer nav ul li a:hover {
    color: #20b0a7;
}

#footer div {
    margin-right: 20px;
    align-self: flex-end;
    margin-bottom: 50px;
}

@media only screen and (max-width: 887px) {
    #footer {
        flex-wrap: wrap;
        min-height: 150px;
    }
    #footer div {
        margin-right: 0px;
        margin-left: 5px;
        margin-bottom: 2px;
        font-size: 0.7rem;
    }
}


/* body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-style: italic;
}

.division0 {
    background: white;
    text-align: center;
}
.division1 {
    background: white;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}
.division2 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 20px;
}
img {
    box-shadow: 0 0 20px gray;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.au {
    color: orange;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    box-shadow: 0 0 20px gray;
    text-align: left;
}

/* sett up table header bsackground and font color. */
thead tr {
    background-color: tan;
    color: black;
}

/* set up padding for table */
td,
th {
    padding: 12px 15px;
}

/* small gray lined between rows */
tbody tr {
    border-bottom: 1px solid #dddd;
}

/* every other row is shaded */
tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

/* table body row has a green line at the bottom. */
tbody tr:last-of-type {
    border-bottom: 2px solid tan;
}

.space-around {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    justify-content: space-around;
}

.marginabove {
    margin-top: 20px;
}

.flexItem {
    width: 300px;
    height: 300px;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: green;
}

.item3 {
    background-color: blue;
}

.container {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    max-width: 80%;
    background-color: bisque;
    justify-content: center;
    flex-wrap: wrap;
}

.container-wrap {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container-no-wrap {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-center {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    justify-content: center;
}

.space-between {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    justify-content: space-between;
}

.space-around {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    justify-content: space-around;
}
.center-reverse {
    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row-reverse;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card1 {
    display: block;
    max-width: 300px;
    max-height: 300px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 20px gray;
}

.card2 {
    display: block;
    max-width: 300px;
    max-height: 300px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 20px gray;
} */
